<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid" style="text-align:center">
 
  <router-outlet></router-outlet>
 <app-test></app-test>

 <h2>Add post about teacher</h2>
 <form [formGroup]="postForm" (ngSubmit)="onSubmit()" >
   <div class="form-group">
     <label>Teacher</label>
     <input [class.is-invalid]="postForm.get('teacher').invalid &&
                                postForm.get('teacher').touched" formControlName="teacher" type="text" class="form-control">

    <div *ngIf="postForm.get('teacher').invalid && postForm.get('teacher').touched">
      <small *ngIf="postForm.get('teacher').errors?.required" class="text-danger">Teacher's name is required</small>
      <small *ngIf="postForm.get('teacher').errors?.minlength" class="text-danger">Teacher's name must be at least 3 characters long</small>
    </div>
   </div>

   <div class="form-group">
    <label>Tell us something</label>
    <input [class.is-invalid]="postForm.get('tell_us_sth').invalid &&
                              postForm.get('tell_us_sth').touched" formControlName="tell_us_sth" type="text" class="form-control">
    <small [class.d-none]="postForm.get('tell_us_sth').valid ||
                                  postForm.get('tell_us_sth').untouched" class="text-danger">You have to tell us something about this teacher</small>
  </div>

  <button class="btn btn-primary" type="submit">Submit</button>
 </form>
 {{postForm.value | json}}
</div>

